.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr); /* One column on even smaller screens */
  }
}

button {
    background-color: #4c61af;
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
  }
  
button:hover {
    background-color: #3a4d86; 
}

.navButtons{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.loaderContainer{
    margin: 10px;
}

.shimmerItem {
  animation: shimmerBackground 2s infinite;
  background: linear-gradient(to right, #eff1f5 4%, #e2e2e2 25%, #eff1f5 36%);
  background-size: 1000px 100%;
}

@keyframes shimmerBackground {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}